---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<main class="app-container pt-36">
		<h1 class="text-6xl pb-2 font-bold">About Me</h1>
	</main>
	<section class="app-container py-12 mb-8">
		<div
			class="prose prose-neutral prose-lg md:prose-xl dark:prose-invert prose-img:rounded-xl prose-figure:text-center prose-img:mx-auto"
		>
			<p>
				I am a Master’s student in Quantum Engineering at ETH Zürich, currently
				based in Cambridge, MA, where I am conducting my Master’s Thesis at MIT.
				My research focuses on the intersection of fundamental physics and
				engineering, specifically the development of fault-tolerant
				superconducting circuit architectures.
			</p>
			<p>
				Originally from Trento, Italy, I began my academic path at Politecnico
				di Milano. While my background is in Engineering Physics, my focus
				shifted during a visiting semester at EPFL. There, lectures on QED and
				Quantum Computing by Prof. Kippenberg and Prof. Savona introduced me to the
				elegance of superconducting circuits. I was captivated by
				the potential to control macroscopic electric circuits at the quantum
				level, a realization that led me to ETH Zürich to pursue Quantum
				Engineering.
			</p>
			<p>
				My work is defined by a hands-on approach to scaling quantum hardware.
				At ETH Zürich (QuDev), I worked in Prof. Andreas Wallraff’s group to
				upgrade the control infrastructure for a 43-qubit chip, aimed at
				demonstrating logical qubit entanglement for the IARPA ELQ program. This
				involved everything from physical cryostat integration to rewriting the
				triggering paradigms in the PyQED software library.
			</p>
			<p>
				To broaden my perspective on error correction, I joined Alice & Bob in
				Paris. As an intern, I worked on the calibration and optimization
				of Cat-Qubits, gaining insight into the industrial approach to fault
				tolerance. Currently, I am a Master Thesis student at MIT (EQuS) in
				Prof. William Oliver’s group. Here, I am leading efforts within the
				Bosonic team to develop GKP qubits in planar superconducting resonators,
				designing and characterizing two-qubit gate protocols.
			</p>
			<p>
				Beyond Quantum I maintain a strong interest in high-performance
				computing, stemming from my time at EnginSoft, where I optimized CFD
				simulations using FPGA accelerators at the Jülich Supercomputing Centre.
			</p>
		</div>
	</section>
</BaseLayout>
